.counter {
    -fx-font-size: 72pt;
}

.touchpoint-red {
    -fx-fill: radial-gradient(center 50% 55%,
    radius 75%,
    rgba(255,0,0,0.3) 0%,
    rgba(255,0,0,0.9) 100%);
    -fx-stroke: rgba(255,0,0,0.6);
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(one-pass-box,
    rgba(0, 0, 0, 0.9),
    20, 0.0, 0, 0);
}

.touchpoint-green {
    -fx-fill: radial-gradient(center 50% 55%,
    radius 75%,
    rgba(5,255,0,0.3) 0%,
    rgba(5,255,0,0.9) 100%);
    -fx-stroke: rgba(0,220,0,0.6);
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(one-pass-box,
    rgba(0, 0, 0, 0.9),
    20, 0.0, 0, 0);
}

.touchpoint-blue {
    -fx-fill: radial-gradient(center 50% 55%,
    radius 75%,
    rgba(10,80,255,0.3) 0%,
    rgba(10,80,255,0.9) 100%);
    -fx-stroke: rgba(0,0,255,0.6);
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(one-pass-box,
    rgba(0, 0, 0, 0.9),
    20, 0.0, 0, 0);
}

.touchpoint-yellow {
    -fx-fill: radial-gradient(center 50% 55%,
    radius 75%,
    rgba(255,255,10,0.3) 0%,
    rgba(255,255,10,0.9) 100%);
    -fx-stroke: rgba(0,0,255,0.6);
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(one-pass-box,
    rgba(0, 0, 0, 0.9),
    20, 0.0, 0, 0);
}

.touchpoint-pink {
    -fx-fill: radial-gradient(center 50% 55%,
    radius 75%,
    rgba(255,20,255,0.3) 0%,
    rgba(1255,20,255,0.9) 100%);
    -fx-stroke: rgba(0,0,255,0.6);
    -fx-stroke-width: 5;
    -fx-effect: dropshadow(one-pass-box,
    rgba(0, 0, 0, 0.9),
    20, 0.0, 0, 0);
}